.eggs

######################
# Logs and databases #
######################
*\.log
.DS_Store

#############
# vim files #
#############
*\.swp
*~
\#*\#

################# 
# pycharm files #
#################
\.idea

##########################
# Python complied source #
##########################
*\.pyc
*\.pyo
build/
dist/
doc/_build/

